.btn-facebook{
	background-color: #3b5998;
	border-color: #3b5998;
}

.btn-facebook:hover{
	background-color: #8b9dc3;
	border-color: #8b9dc3;
}

a.btn-facebook{
	color: white;
}

.nav>li>a{
	position: relative;
	display:block;
	text-decoration: none;
}

.main-content{
	padding-top: 80px;
}

.super-correct{
	background-color: #10E500;
}

.correct-score{
	background-color: #9FFF98;
}

.correct-result{
	background-color: #D6FFD3;
}

.wrong-result{
	background-color: #FFD3D3;
}